/* MAIN SCENE */
.root {
    /* Define custom colours for the theme */
    -fx-base: #171717;
    -fx-background-colour-default: rgba(70, 70, 70, 0.3) linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
    -fx-background-colour-hover: rgba(133, 133, 133, 0.3);
    -fx-background-color-pressed: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgb(21, 21, 21));
    -fx-background-colour-selected: #1f1f1f;
    -fx-background-colour-list-cell-filled-hover: rgba(0, 0, 0, 0.4);
    -fx-border-color-selected: transparent;
    -fx-chart-colour-lines: grey;
    -fx-text-fill-inactive: lightgrey;
    -fx-text-fill-default: white;
    -fx-background-color-thumb-hover: rgba(0, 0, 0, 0.3);
    -fx-mark-color-radio-selected: #c0c0c0;
    -fx-background-color-radio-default: rgba(96, 96, 96, 0.85);
    -fx-colour-area-chart-line: rgba(201, 201, 201, 0.6);
    -fx-colour-area-chart-fill: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(148, 148, 148, 0.6));
    -fx-colour-area-chart-symbol: #e5e5e5;

    /* Settings for root splitpane */
    -fx-background: derive(-fx-base, 26.4%);
    -fx-background-image: url(../backgrounds/snowy_night_background.jpg);
    -fx-color: -fx-base;
}

/* RADIO BUTTONS */
.radio-button:hover {
    -fx-background-color: -fx-background-colour-hover;
}
.radio-button:pressed {
    -fx-background-color: -fx-background-color-pressed;
}
.radio-button {
    -fx-background-color: transparent;
}
.radio-button .dot {
    -fx-mark-highlight-color: -fx-mark-color-radio-selected;
    -fx-mark-color: -fx-mark-color-radio-selected;
}

.radio-button .radio {
    -fx-background-color: -fx-background-color-radio-default;
}

/* SCROLL BAR */
.scroll-bar {
    -fx-background-color: transparent;
}
.thumb {
    -fx-background-color: transparent;
    -fx-padding: 10;
}
.thumb:hover {
    -fx-background-color: -fx-background-color-thumb-hover;
}
.thumb:pressed {
    -fx-background-color: -fx-background-colour-selected;
}
.increment-button {
    -fx-background-color: transparent;
}
.increment-arrow {
    -fx-background-color: transparent;
}
.decrement-button {
    -fx-background-color: transparent;
}
.decrement-arrow {
    -fx-background-color: transparent;
}
.corner {
    -fx-background-color: transparent ;
}

/* CHART */
.default-color0.chart-area-symbol {
    -fx-background-color: -fx-colour-area-chart-symbol;
}
.default-color0.chart-series-area-line {
    -fx-stroke: -fx-colour-area-chart-line;
    -fx-stroke-width: 3;
}
.default-color0.chart-series-area-fill {
    -fx-fill: -fx-colour-area-chart-fill;
}

.chart {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-fill-default;
    -fx-stroke: -fx-text-fill-default;
}

.chart:hover {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-hover;
}

.chart-content {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: -fx-chart-colour-lines;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -fx-chart-colour-lines;
}

.axis {
    -fx-text-fill: -fx-text-fill-default;
    -fx-stroke: -fx-chart-colour-lines;
}

.axis-label {
    -fx-text-fill: -fx-text-fill-default
}

.axis-tick-mark {
    -fx-stroke: -fx-chart-colour-lines;
    -fx-stroke-width: 2;
}

.axis-minor-tick-mark {
    -fx-stroke: -fx-chart-colour-lines;
}

/* LIST-VIEW */
.list-view {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-default;

}
.list-cell:even {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: transparent;
}

.list-cell:odd {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: transparent;
}

.list-view:hover {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-hover;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-background-colour-list-cell-filled-hover;
}

.list-cell:filled:pressed {
    -fx-background-color: -fx-background-color-pressed;
}

.list-cell:selected {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-selected;
    -fx-border-color: -fx-border-color-selected;
}

/* BUTTONS */
.button {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-default;
}

.button:hover {
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-hover;
}

.button:pressed {
    -fx-background-color: -fx-background-color-pressed;
    -fx-border-color: -fx-border-color-selected;
}

/* TEXT-INPUT */
.text-input {
    -fx-prompt-text-fill: -fx-text-fill-inactive;
    -fx-text-fill: -fx-text-fill-default;
    -fx-background-color: -fx-background-colour-default;
}

.text-input:hover {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-background-color: -fx-background-colour-hover;
}

.text-input:focused {
    -fx-text-fill: -fx-text-fill-default;
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-background-color: -fx-background-colour-selected;
    -fx-border-color: -fx-border-color-selected;
}

.text-input:pressed {
    -fx-background-color: -fx-background-color-pressed;
    -fx-border-color: -fx-border-color-selected;
}

/* TABS */
.tab-pane {
    -fx-background-color: -fx-background-colour-default;
}

.tab-header-area .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-color: -fx-border-color-selected;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab:selected {
    -fx-background-color: -fx-background-colour-selected;
    -fx-border-color: -fx-border-color-selected;
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator {
    /*-fx-background-color: -fx-background-colour-selected;*/
    -fx-border-color: -fx-border-color-selected;
}

.tab:hover {
    -fx-background-color: -fx-background-colour-hover;
}

.tab:pressed {
    -fx-background-color: -fx-background-color-pressed;
    -fx-border-color: -fx-border-color-selected;
}

/* TEXT */
.text {
    -fx-fill: -fx-text-fill-default;
}
.label {
    -fx-text-fill: -fx-text-fill-inactive;
}

/* SPLIT PANE */
.split-pane-divider {
    -fx-background-color: transparent;
}