/* MAIN SCENE */
.root {
    -fx-base: #171717;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #ffffff;
    -fx-background: derive(-fx-base, 26.4%);
    -fx-background-image: url(../backgrounds/snowy_night_background.jpg);

    -fx-color: -fx-base;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color ;
}

/* CHART */
.chart {
    -fx-background-color:
            rgba(70, 70, 70, 0.3)
            linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
    -fx-text-fill: white;
    -fx-stroke: white;
}
.chart:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(133, 133, 133, 0.3);
}
.chart-content {
    -fx-background-color: transparent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-legend {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: grey;
}
.chart-horizontal-grid-lines {
    -fx-stroke: grey;
}
.axis {
    -fx-text-fill: white;
    -fx-stroke: grey;
}
.axis-label {
    -fx-text-fill: white
}
.axis-tick-mark {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
}
.axis-minor-tick-mark {
    -fx-stroke: grey;
}

/* TABLE-VIEW */
.table-view {
    -fx-text-fill: white;
    -fx-background-color:
            rgba(70, 70, 70, 0.3)
            linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
}
.table-view .column-header-background {
    visibility: hidden;
}
.table-view:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(133, 133, 133, 0.3);
}

/* BUTTONS */
.button {
    -fx-text-fill: white;
    -fx-background-color:
            rgba(70, 70, 70, 0.3)
            linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
    /*-fx-border-color: rgb(150, 150, 150);*/
}
.button:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(133, 133, 133, 0.3);
}

/* TEXT-INPUT */
.text-input {
    -fx-text-fill: white;
    -fx-background-color:
            rgba(70, 70, 70, 0.3)
            linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
}
.text-input:hover {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );
    -fx-background-color: rgba(133, 133, 133, 0.3);
}
.text-input:focused {
    -fx-text-fill: white;
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );
    -fx-background-color: rgba(84, 84, 84, 0.51);
}

/* TABS */
.tab-pane {
    /*-fx-background-color: rgba(255, 255, 255, 0.9);*/
    -fx-background-color: transparent;
}
.tab-header-area .tab-header-background {
    /*-fx-background-color: rgba(255, 255, 255, 0.9);*/
    -fx-background-color: transparent;
}
.tab:selected{
    -fx-background-color:
            rgba(70, 70, 70, 0.3)
            linear-gradient(rgba(68, 68, 68, 0.35), rgba(124, 124, 124, 0.75));
    -fx-border-color: transparent;
}
.tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.tab:hover {
    -fx-background-color: rgba(133, 133, 133, 0.3);
}

/* SPLIT PANE */
.split-pane-divider {
    -fx-background-color: transparent;
}